.squareMain {
  display: inline-flex;
  padding: 2px;
}

.squareMain .squareForm {
  border: 3px solid black;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.589);
}

.squareMain .chooser {
  border: 3px solid black;
  border-radius: 6px;
  margin: 15px 15px 5px 15px;
}


