.squareMain form {
  border: 2px solid #9289bf;
  border-radius: 25px;
  background-color: #9289bf;
  padding: 10px;
}

.squareMain div {
  display: inline;
}

.squareMain input {
  padding-bottom: 5px;
  padding-top: 5px;
}

.squareMain input[type=text] {
  background-color: #DFDFDF;
  color: white;
}

.squareMain .upload-sound-border {
  border: 1px solid #DFDFDF;
  padding: 10px;
}

.squareMain label {
  padding: 5px;
  border-radius: 25px;
  background-color: #18096683;
  color: white;
}

.squareMain label:hover {
  background-color: #190966;
}

.squareMain label:active {
  background-color: #ffffff;
}

#upload-sound {
  display: none;
}

.squareMain .buttons {
  padding-top: 5px;
}

.squareMain #upload{
  border: 2px solid #9289bf;
  background-color: #18096683;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-right: 20px;
}

.squareMain #play{
  border: 2px solid #9289bf;
  background-color: #32ce13a9;
  color: rgb(255, 255, 255);
  display: inline-block;
}


